doctype html
html
  head
    title My Website
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    header#main-header
      .container
        h1 Travel Experts
    nav#navbar
      .container
        ul
          li
            a(href="#") Home
          li
            a(href="404.html") Packages
          li
            a(href="404.html") Register
          li
            a(href="contactus.html") Contact us
          li
            a(href="about.html") About
    section#showcase
      .container
        //
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </h1>
    .container
      section#main
        h1 Welcome
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      aside#sidebar
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud
    footer#main-footer
      p Copyright © 2017 Travel Expert
